<title>CricWWW - Stats Corner</title>
<meta name="description" content="Stay updated with the latest IPL points table on Who Will Win. Get team standings, rankings, and match results for the Indian Premier League.">
<%- include('../partials/repBar.ejs') %>

<style>

.blog-fullPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
    gap: 25px;
}
.match-logo{
    width:  4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;
}
.match-logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
</style>
<div class="blog-fullPage">

     <!-- ipl points table -->
     <div class="wpl-standings" style="display: none;">
        <div class="title-space" style=" border-radius: 10px; display: flex; justify-content: center; align-items: center; gap: 20px;">
            <div class="match-logo">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Indian_Premier_League_Official_Logo.svg/1200px-Indian_Premier_League_Official_Logo.svg.png" alt="">
            </div>
            <h2>Indian Premier League Standings 2024</h2>
        </div>
       <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Team</th>
            <th scope="col">Match</th>
            <th scope="col">Win</th>
            <th scope="col">Lose</th>
            <!-- <th scope="col">Tie</th> -->
            <th scope="col">Points</th>
            <th scope="col">Last Five</th>
          </tr>
        </thead>
        <tbody>
         
            <!-- <tr>
                <p style="color: maroon; font-weight: bold;">The Indian Premier League (IPL) 2024 season is scheduled to commence on March 22, 2024.<p>
            </tr> -->
            <% iplPoints.forEach((team, index) => { %>
                <tr>
                    <th scope="row" class="rw"><%= index+1 %></th>
                    <td class="rw"><%= team.sName %></td>
                    <td class="rw"><%= team.matches %></td>
                    <td class="rw"><%= team.won %></td>
                    <td class="rw"><%= team.lost %></td>
                    <!-- <td class="rw"><%= team.tie %></td> -->
                    <td class="rw"><%= team.pts %></td>
            
                        <td>
                          
                                <% team.lastFive.forEach(status => { %>
                                    <% if (status === 'lost') { %>
                                        <i style="color: red;" class="ri-close-circle-fill"></i>
                                    <% } else { %>
                                        <i style="color: green;" class="ri-checkbox-circle-fill"></i>
                                    <% } %>
                                <% }) %>
                            
                        </td>
                  </tr>
            <% }) %>
          
     
        </tbody>
      </table>
    </div>

    <div class="wpl-standings"  style="margin-bottom: 50px;">
        <div class="title-space" style=" border-radius: 10px; display: flex; justify-content: center; align-items: center; gap: 20px;">
            <div class="match-logo">
                <img src="https://www.observerbd.com/2023/12/07/ob_1701947882.JPG" alt="">
            </div>
            <h2>ICC Mens T20 World Cup 2024</h2>
        </div>
        <span style="color: #000;">Points table will be updated soon...</span>
       <table class="table" style="display: none;">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Team</th>
            <th scope="col">Match</th>
            <th scope="col">Win</th>
            <th scope="col">Lose</th>
            <!-- <th scope="col">Tie</th> -->
            <th scope="col">Points</th>
            <th scope="col">Last Five</th>
          </tr>
        </thead>
        <tbody>
         
            <!-- <tr>
                <p style="color: maroon; font-weight: bold;">The Indian Premier League (IPL) 2024 season is scheduled to commence on March 22, 2024.<p>
            </tr> -->
            <% iplPoints.forEach((team, index) => { %>
                <tr>
                    <th scope="row" class="rw"><%= index+1 %></th>
                    <td class="rw"><%= team.sName %></td>
                    <td class="rw"><%= team.matches %></td>
                    <td class="rw"><%= team.won %></td>
                    <td class="rw"><%= team.lost %></td>
                    <!-- <td class="rw"><%= team.tie %></td> -->
                    <td class="rw"><%= team.pts %></td>
            
                        <td>
                          
                                <% team.lastFive.forEach(status => { %>
                                    <% if (status === 'lost') { %>
                                        <i style="color: red;" class="ri-close-circle-fill"></i>
                                    <% } else { %>
                                        <i style="color: green;" class="ri-checkbox-circle-fill"></i>
                                    <% } %>
                                <% }) %>
                            
                        </td>
                  </tr>
            <% }) %>
          
     
        </tbody>
      </table>
    </div>

</div>
<script>
    var is_iOS = /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
if (is_iOS) {
    document.body.classList.add('ios-device');
    document.querySelector('.navbar').style.position = 'relative';
    document.querySelector('.navbar').style.paddingTop = '12vw';
    document.querySelector('.heading').style.display = 'none';
}

 </script>
<%- include('../partials/rep-footer.ejs') %>